{% extends 'base.html' %} {% block content %}

<h1>Nintendo 64 Game Details</h1>

<div class="card">
  <div class="card-content">
    <span class="card-title">{{ n64game.title }}</span>
    <p>Release Year: {{ n64game.year }}</p>
    <p>Genre: {{ n64game.genre }}</p>
    <p>Description: {{ n64game.description }}</p>
  </div>
  <div class="card-action">
    <a href="{% url 'n64games_update' n64game.id %}">Edit</a>
    <a href="{% url 'n64games_delete' n64game.id %}">Delete</a>
  </div>
</div>

{% endblock %}
